{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id","_metadata" ] }],
    "no-undef": "off",
    "no-param-reassign": ["error", { "props": false }]
  },
  "plugins": [
    "react", "import"
  ]
}